<div class="my-2 d-flex justify-content-between">
  <h2 class="">Lista de Productos</h2>
  <button type="button" class="btn btn-primary" routerLink="/register-product">
    + Product
  </button>
</div>

<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Last Modified</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody class="table-light">
    <tr *ngFor="let product of products">
      <th scope="row">{{ product.idProduct }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.price | currency }}</td>
      <td *ngIf="product.lastModified">
        {{ product.lastModified | date : "dd/MM/yy" }}
        {{ product.lastModified | date : "shortTime" }}
      </td>
      <td>
        <button
          (click)="readProduct(product.idProduct)"
          class="btn btn-primary"
        >
          Details
        </button>
        <button
          (click)="updateProduct(product.idProduct)"
          class="btn btn-info mx-2"
        >
          Update
        </button>
        <button
          (click)="deleteProduct(product.idProduct)"
          class="btn btn-danger"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
