<div class="col-md-6 offset-md-3">
  <h3>Register Product</h3>
  <form #productForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="productName" class="form-label">Product Name</label>
      <input
        type="text"
        class="form-control"
        id="productName"
        name="name"
        [(ngModel)]="product.name"
        required
        minlength="3"
        #name="ngModel"
      />
      <div *ngIf="name.invalid && name.touched">
        <div class="text-danger" *ngIf="name.hasError('negative')">
          Please enter valid name.
        </div>
        <div class="text-danger" *ngIf="name.hasError('minlength')">
          Names length must be a greater than 2.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="productPrice" class="form-label">Product Price</label>
      <input
        type="number"
        class="form-control"
        id="productPrice"
        name="price"
        [(ngModel)]="product.price"
        required
        [min]="0"
        #price="ngModel"
      />
      <div *ngIf="price.invalid && (price.dirty || price.touched)">
        <div class="text-danger" *ngIf="price.hasError('required')">
          Price is required.
        </div>
        <div class="text-danger" *ngIf="price.hasError('min')">
          Price must be a non-negative number.
        </div>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="productForm.invalid"
    >
      Register
    </button>
  </form>
</div>
